<!DOCTYPE html>
<html>

<head>
    <title>Hành Trình Di Tích</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 500px;
            width: 100%;
        }

        .panel {
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="panel">
        <label for="startingPoint">Chọn điểm bắt đầu:</label>
        <select id="startingPoint"></select>
        <button id="startJourney">Bắt đầu hành trình</button>
    </div>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/static/script.js"></script>
</body>

</html>